<h2>Записаться</h2>
<p>На этой странице вы можете к нам записаться!</p>

<form action="/visit" method="POST" role="form">

  <div class="form-group">
  	<label>Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Введие ваше имя">
  </div>

  <button type="submit" class="btn btn-primary">Записаться</button>

</form>